@model Product

<div class="col-sm-12 col-md-4 my-2">
    <div class="card" style="width: 18rem;">
        <img src="@Model?.ImageUrl" class="card-img-top" height="300" width="300" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Summary</p>

            <div class="btn btn-group">
                <a asp-controller="Product" asp-action="Get" asp-route-id="@Model.Id" class="btn btn-primary">
                    <i class="fa-solid fa-arrow-right"></i>
                    Details
                </a>

                <form id="@Model.Id" asp-page="/cart" method="post">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn btn-outline-primary mx-2">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>

                </form>


            </div>




        </div>
    </div>
</div>
